.vs/
/CameraServer/bin/*
/CameraServer/obj/*
/CameraServerTests/bin/*
/CameraServerTests/obj/*
/CameraServer/Properties/launchSettings.json
/ClientScripts/camera-config.txt
/ClientScripts/camera-config.json